body {
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
font-size: 16px;
line-height: 26px;
}
.icon {
background-repeat: no-repeat;
background-position-x: center;
background-position-y: center;
height: 25px;
padding-bottom: 0;
padding-top: 5px;
}
.header_wrapper {
background: #ffffff url('/images/leftbg.jpg') no-repeat left top;
}
.header {
margin-left: auto;
margin-right: auto;
width: 700px;
height: 204px;
position: relative;
}
.header_right {
background: url('/images/rightbg.jpg') no-repeat right center;
}


a {
text-decoration: none;
color: inherit;

}
.home {
background: url('/images/4s.jpg') no-repeat left top;
position: relative;
}

.facebook {
position: absolute;
top: 420px;
left: 0;
width: 273px;
height: 26px;
}
.home_text {
float: right;
top: 0px;
right: 0px;
width: 480px;
}
.blogo {
background: url('/images/logo.png') no-repeat right top;
position: absolute;
top: 0;
right: 0;
width: 316px;
height: 240px;
z-index: -1;
}
a:hover {
color: #999999;
}

.service_left {
float: left;
text-align: right;
width: 190px;
}
.service_right {
float: right;
width: 570px;
}
.clear {
clear: both;
}
.main_wrapper {
background-color: #F3F3F3;
}
.footer_wrapper {
background-color: #333333;
}
.footer {
width: 800px;
margin-left: auto;
margin-right: auto;
color: #aaaaaa;
font-size: 10px;
line-height: 12px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.map {
background: url('/images/map.jpg') no-repeat right top;
min-height: 435px;
}
.form td{
padding: 3px;
}
.form input {
padding: 4px;
}
.form input[type=checkbox], .form input[type=radio] {
width: 30px;
}
.form input[type=text], .form textarea{
width: 300px;
}
.form textarea{
height: 50px;
padding: 5px;
}
.footer a {
text-decoration: none;
color: #aaaaaa;
line-height: 18px;
font-size: 12px;
}
.footer a:hover {
color: #cccccc;
font-size: 12px;
}
.main {
padding-top: 30px;
padding-bottom: 30px;
width: 800px;
margin-left: auto;
margin-right: auto;
position: relative;
}
.logo {
text-align: center;
padding-top: 20px;
}
.tagline {
text-align: center;
font-size: 16px;
color: #999999;
line-height: 16px;
}
.menu {
text-align: center;
font-size: 18px;
font-weight: bold;
z-index: 1;
position: absolute;
bottom: 20px;
width: 700px;
}
.center {
text-align: center;
}
.menu a {
color: #999999;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}
.menu a:hover {
color: #000000;
font-size: 18px;
font-weight: bold;
}
.image {
margin-bottom: 40px;
margin-top: 40px;
text-align: center;
}

.submenu {
	text-align: center;
	font-weight: bold;
	color: #000000;
	padding-bottom: 15px;
}

.submenu span {
	margin-left: 10px;
	margin-right: 10px;
}

.submenu a {
	color: #999999;
	margin-left: 10px;
	margin-right: 10px;
}

.submenu a:hover {
	color: #000;
}

#m .slides_container {
    width:800px;
    height:800px;
}
#m .slides_container div {
    width:800px;
    height:800px;
    display:block;
}

#n .slides_container {
    width:800px;
    height:533px;
}
#n .slides_container div {
    width:800px;
    height:533px;
    display:block;
}

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}